.experience{
    width:100%;
    margin-top:6rem;
}

.experience__section__title{
    text-align: center;
    font-weight:bold;
    font-size:2rem;
}

.experience__galery{
    
    width:80%;
    margin:auto;
    margin-top: 2rem;
    display: flex;
    overflow-y: auto;
    padding:1rem;
}

/*diseñooo de barra----*/
.experience__galery::-webkit-scrollbar{
    width: 10px;
    background: #d6eaff;
    border-radius:100px;
    
}

.experience__galery::-webkit-scrollbar-thumb{
    border-radius:100px;
    background: #0071ea;
    
}

.experience__galery::-webkit-scrollbar-thumb:hover{
    background: #0068d7;
    
}


@media(max-width:768px){

   

    .experience__section__title{
        
        font-size:1.375rem;
    }

    .experience__card__p{

        font-size: 0.875rem;

    }
    
}

@media(max-width:500px){

    .experience__galery{
    
      
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        overflow-y:initial;

        
    }

   


}