.footer {
   
    width: 100%;
    height:6.375rem;
    display: flex;

}

.footer__rodapie{
    width:100%;
    margin:auto;
   
    
}

.footer__rodapie p {
    
    text-align: center;
  
}

.footer__volver-inicio{

  
    display: flex;
    justify-content: flex-end;
    margin-right: 1.375rem;
    color:#0071ea;
    

}


.footer__volver-inicio i:hover{

    cursor: pointer;
    transition: 0.3s all;
    transform: scale(1.5);
   
}


