.skills__box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width:176px;
    height:176px;
    background-color: #fff;
    padding-left: 0;
}

.skills__box ul{
    padding-left: 1rem;
}

.skills__box:hover{
    cursor: pointer;
    transition: 0.3s all;
    transform: scale(0.9);
}

.skills__img{
    font-size:2rem;
    color:#2A7AE4;
}

.skills__name{

    margin-top:0.5rem;
    font-weight:bold;
    
}

@media(max-width:768px){

    .skills__name{

       font-size: 0.875rem;
        
    }
}


@media(max-width:468px){

    .skills__box{
        width:126px;
        height:126px;
      
    }

   

}