.academic__courses{
    width: 80%;
    display:flex;
    justify-content:center;
    margin:auto;
    gap:10px;
    

}

.academic__courses__box{
  
    text-align:center;
    margin-top:0.5rem;
    
}

.academic__courses__box:hover{
    cursor: pointer;
    transition: 0.3s all;
    transform: scale(0.9);
}