.formcontacto__form{
    display:flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 3rem;
    justify-content: flex-end;
}

.formcontacto__input{
    height:3.25rem;
   border-radius:3px;
   padding: 0 0 0 0.5rem;
   border: none;
}

.formcontacto__input::placeholder{
    color:#A2A2A2;
    font-family: 'Raleway';
}

.formcontacto__textarea{
    resize:none;
    height:8.3125rem;
    border-radius:3px;
    border: none;
}

.formcontacto__textarea::placeholder{
    color:#A2A2A2;
    font-family: 'Raleway';
    padding: 0 0 0 0.375rem;
}

.formcontacto__btn{
    height:3.1875rem;
    width:9rem;
    background-color:#2A7AE4;
    color:#fff;
    border: none;
    font-family: 'Raleway'; 
    cursor: pointer;
}

.formcontacto__btn:hover{
    opacity: 0.8;
}