 .menu__header {
   display: flex; 
   
}

.menu__imagen{
    align-items: center;
    margin-top: 1rem;
    margin-right: 0.65rem;
    width: 1rem;
    height: 1rem;
}

.menu__title{
  font-size:1rem;
}


@media(max-width:996px){

  .menu__title{
    font-size:0.875rem;
  }

  .menu__imagen{
    
    margin-top: 0.75rem;
    
}

  
}

@media(max-width:368px){

  .menu__imagen {
    display: none;
    margin-right: 0;
    
    
 }
  
}



