.soft__box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width:176px;
    height:174px;
    background-color: #fff;
    padding-left: 0;
}

.soft__box ul{
    padding-left: 1rem;
}

.soft__box:hover{
    cursor: pointer;
    transition: 0.3s all;
    transform: scale(0.9);
}

.soft__img{
    font-size:2rem;
    color:#2A7AE4;
}

.soft__name{

    margin-top:0.5rem;
    font-weight:bold;
    
    
}