.title__network{
    display: flex;
    gap: 30px;
    padding-left:0;
    
}

.title__network__item:hover{
    opacity: 0.6;
}

@media(max-width:768px){

    .title__network{
        
        gap: 20px;
        
    }

    .title__network__item{
        font-size: 0.875rem;
    }

}

@media(max-width:368px){

    .title__network{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }


}