.title__profile{
    order:1;
    background: url('/assets/profile.jpeg') center / cover no-repeat;
    border-radius: 100%;
    border-color: #464646;
   height: 368px;
   width: 368px;
}



.title__bio{

    font-size:3rem;
    white-space: nowrap;
    border-right: 4px solid;
    width: 29ch;
    animation: typing 2s steps(29),
    blink 0.5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing  {
    from {
        width: 0;
    } 
}

@keyframes blink {
    50%  {
        border-color:transparent;
    }
}

.title__subsection{
    font-size:1.375rem;
    font-weight: normal;
}